AUTH_URL=https://instance.api.test.projetly.io/api/oauth
REFRESH_TOKEN_URL=https://instance.api.test.projetly.io/api/auth_refresh/
CLIENT_ID=Go-BrwkZeddkgZtd2u0VIkdbJy0bjQlicPE
CLIENT_SECRET='0s4vkSA$0yo8a2Rgnv#F9MtL$eVxhy%7'
MARKETPLACE_URL=https://subarticulate-nonseasonally-cleora.ngrok-free.dev/api/zapier
ZAPIER_DEPLOY_KEY=146ccf89909589df3b3fa4e4a74f2074
